<div class="line">
<div class = "foot">
<footer>
  <div class = "follow">
    &copy;2017 Oxford academy. <span>Follow Us On:</span>
  <a class="btn btn-social-icon btn-twitter" target = "_blank" title = "find us on twitter" href = "https://twitter.com">
    <span class="fa fa-twitter"></span>
  </a>
  <a id="fb" class="btn btn-social-icon btn-facebook"  target="_blank" title="find us on Facebook" href="http://www.facebook.com/affan.azeem.14">
    <span class="fa fa-facebook-official" ></span>
  </a>
  <a class="btn btn-social-icon btn-linkedin" target="_blank" title="find us on LinkedIn" href="https://pk.linkedin.com/">
    <span class="fa fa-linkedin-square"></span>
  </a>
  </div>
 </footer>
</div>
</div>
