.login-wrap{
  width:1345px;
  height:627px;
  background-color: black;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.8),0 17px 50px 0 rgba(0,0,0,.19);
}


div.front{
  width: 1345px;
  height: 600px;
  background-image: url("/src/app/iamges/fornt.jpg");
}


div.header{
  width:100%;
  height:12%;
  /*padding:420px 70px 50px 70px;*/
  background: rgba(000000000, 0000000000, 000000,0.9);
  box-shadow:0 12px 15px 0 rgba(0,0,00,.6),0 17px 50px 0 rgba(0,0,0,.6);
}


p.name{
  font-size: 50px;
  color: white;
  font-family: "fantasy";
  letter-spacing: 5px;
  margin-left: 420px;
}

div.nav{
  width:100%;
  height:60px;
  margin-top: 30px;
  background: rgba(00000, 000001, 000000,0.6);
  box-shadow:0 12px 15px 0 rgba(0,0,00,.6),0 17px 50px 0 rgba(0,0,0,.6);

}

.login-html{
  width:100%;
  height:549px;
  padding:420px 70px 50px 70px;
  background: rgba(000000000, 0000000000, 000000,0.6);

}


ul {
  list-style-type: none;
  margin-left: 500px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: "Times New Roman";
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
}

li a:hover, .dropdown:hover .dropbtn {

  background-color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
}

.dropdown-content a:hover {
  background-color: black;
  font-size: 20px;
  margin-left: 30px;

}

.dropdown:hover .dropdown-content {
  display: block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
}


p.welcome{
  margin-left: 480px;
  margin-top: 90px;
  font-size: 90px;
  color: white;
  font-family: "girgi" ;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {color:white; left:0px; top:0px;}
  25%  {color:#f2f9b8; left:500px; top:0px;}
  50%  {color:#f9f980; left:0px; top:0px;}
  75%  {color:#f9f558; left:200px; top:0px;}
  100% {color:#f9ef11; left:0px; top:0px;}
}

body{
  margin : 0;

}


.modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main{
  position: fixed;
  width: 50%;
  height: 250px;
  top: 25%;
  left: 360px;
  z-index: 2;
}


.closer{
  position: absolute;
  top: 3%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner{
  /*background:transparent;*/
  height: 300px;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}


.modal_faculty{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_faculty{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_faculty{
  position: fixed;
  width: 50%;
  height: 250px;
  top: 25%;
  left: 360px;
  z-index: 2;
}


.closer_faculty{
  position: absolute;
  top: 3%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_faculty{
  /*background:transparent;*/
  height: 300px;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_faculty{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}



p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

.modal_staff{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_staff{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_staff{
  position: fixed;
  width: 50%;
  height: 250px;
  top: 25%;
  left: 360px;
  z-index: 2;
}


.closer_staff{
  position: absolute;
  top: 3%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head_staff{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_staff{
  /*background:transparent;*/
  height: 300px;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_staff{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.row{
  margin-left: 50px;
  margin-top: 50px;
  width: 990px;
}

button[id = 'login']{
  margin-left: 18px;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 350px;

}

button[id = 'loginstaff']{
  margin-left: 18px;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 350px;

}

button[name = 'loginadmin']{
  margin-left: 18px;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 350px;

}

div.name{
  color: black;
  margin-left: 380px;
  font-size: 60px;
  text-shadow: 0 0 20px black;
}


.facebook span.icon {
  background: url("/src/app/iamges/untitled.png") no-repeat;
  float: left;
  width: 30px;
  height: 25px;

}

.twitter span.icon {
  background: url("/src/app/iamges/twitter.png") no-repeat;
  float: left;
  width: 30px;
  height: 25px;
}

.glyphicon-lock{
  color: grey;
}

.glyphicon-user{
  color: grey;

}

div.errormsg{
  width: 80%;
  color: red;
  margin-left : 15%;
  margin-top: 3%;
}

