header,nav
{
  display: block;
}

nav, footer
{
  clear: both;
  color: #ffffff;
  background-color: black;
  height: 50px;
}
nav ul
{
  margin-left: 100px;     padding: 5px 0px 5px 30px;
}
nav li
{
  display: inline;     margin-right: 90px;
}

.search {
  width: 95%;
  margin-left: 5%;
}

input[id = ser]{
  margin-left: 10%;
  width: 50%;
  border-radius: 5%;
  color: black;
  font-family: "Times New Roman";
  font-size: 16px;
   margin-top: 0.8%;
}

.button[class = "glyphicon-search"]{
  color: black;
}

.glyphicon-search{
  color: black;
}

.glyphicon-user{
  margin-top: 0.5%;
  color: darkgray;
  cursor: pointer;
  margin-left: 15%;

}

.glyphicon-question-sign{
  color: darkgray;
  margin-left: 3%;
  cursor: help;
}

.glyphicon-cog{
  color: darkgrey;
  margin-left: 3%;
  cursor: pointer;
}

.glyphicon-off{
  margin-left: 3%;
  color:darkgrey;
  cursor: pointer;
}
