    <nav>
    <div class = "search">
    <div class = "height"></div>
    <input type = "text" placeholder="Search For... " id = "ser">
    <button type = "submit"><div class = "glyphicon glyphicon-search"></div></button>
    <div class = "glyphicon glyphicon-user" title = "Profile"></div>
    <div class = "glyphicon glyphicon-question-sign"></div>
    <div class = "glyphicon glyphicon-cog" title = "Settings"></div>
    <div class="glyphicon glyphicon-off" title = "Logout"></div>
    </div>
    </nav>

