  <div class = "screen">
   <div class = "login-html">
     <br/><br/><br/><br/><br/>
     <p class = "name">LOGIN TO OXFORD ACADEMY...</p>
     <div class = "inner">
     <p class = "l">*All fields are required</p>
       <div class = "form-group">

         <form class = "form-horizontal">
           <div class = "row">
           <div class = "form-group has-feedback">
             <div class = "col-xs-5">
               <input type = "text"  class = "form-control" placeholder="Enter Your Name" required = required id = "username" [(ngModel)]="username">
               <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
             </div>
           </div>

             <div class = "form-group has-feedback">
               <div class = "col-xs-5">
                 <input type = "password"  class = "form-control" placeholder="Enter Password" required = required id = "password" [(ngModel)]="password">
                 <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
               </div>
             </div>

           </div>
         </form>
       </div>
       <button type = "submit" class = "btn btn-danger" id="login" (click) = "login()">LOGIN</button>
       <p class = "or">...or Login with:</p>
       <button type = "submit" class = "facebook" id="f" (click) = "login()"><span class="icon"></span><a href="https://web.facebook.com/login.php?login_attempt=1&lwv=110">Facebook</a><span></span></button>
       <button type = "submit" class = "twitter" id="t" (click) = "login()"><span class="icon"></span><a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a><span></span></button>
  </div>
   </div>
  </div>
  <script src = "https://ajax.googleapjs.com/ajax/libs/jquery/1.11.3/jquery.min.js">


  </script>


